In [5]:

import pandas as pd
import numpy as np
import sys

import pickle

import os
HOME = os.environ['HOME']

In [10]:
result = pickle.load(open(f'{HOME}/scraping-designs/campfire-scanner/results.pkl', 'rb'))

df = pd.DataFrame(result, columns=['a', 'Score', 'Group'])
df.head()

        a    Score         Group
0       0    20000       書籍・雑誌出版
1       0  2000000  テクノロジー・ガジェット
2  315500   300000       ビジネス・起業
3       0   600000    ゲーム・サービス開発
4  429000   300000    舞台・パフォーマンス

In [26]:
# add etxe
dft1 = df.drop(['a'], axis=1)
dft1['Score'] = np.log(pd.to_numeric(dft1['Score']))
dft1.head()

       Score         Group
0   9.903488       書籍・雑誌出版
1  14.508658  テクノロジー・ガジェット
2  12.611538       ビジネス・起業
3  13.304685    ゲーム・サービス開発
4  12.611538    舞台・パフォーマンス

In [31]:
import plotly.plotly as py
import plotly.figure_factory as ff
from plotly.graph_objs import graph_objs
from plotly.offline import *
import plotly.graph_objs as go

init_notebook_mode(connected=True)

import numpy as np
from scipy import stats

In [34]:

fig = ff.create_violin(dft1, data_header='Score', group_header='Group',
                       height=500, width=1500)
py.iplot(fig, filename='Multiple Violins')

In [51]:
df = pd.DataFrame(result, columns=['number', 'target', 'Group'])
dft2 = df.copy()
dft2['Score'] = (pd.to_numeric(dft2['number'])+1)/pd.to_numeric(dft2['target'])
dft2['Score'] = np.log(dft2['Score'])

fig = ff.create_violin(dft2, data_header='Score', group_header='Group', height=300, width=1500)
py.iplot(fig, filename='Multiple Violins')
#dft2.head()